*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --main-color:red;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

/* heart blink */

.heart{
    width: 100px;
    height: 100px;
    background: var(--main-color);
    position: relative;
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: beat 0.8333s linear infinite;
}

.heart::before,
.heart::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height:100px;
    background: var(--main-color);
    border-radius: 50%;
    transform: rotate(45deg);
}

.heart::before {
    top: 0;
    left: -50px;
}

.heart::after {
    top: -50px;
    right: 0;
}