*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    width:100vw;
    height:100vh;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:beige;
}

.container {
    width:450px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 2px 2px 7px rgba(0,0,0,0.7);
    background-color: rgb(216, 237, 255);
    padding: 30px;
    position: relative;
}

.container .card {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: -2px -2px 5px rgba(0,0,0,0.7);
    background-color: aliceblue;
}

.container .card .time {
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: 800;
}

.container .colon {
    margin: 0 7px;
    font-size: 30px;
}

.container .lable{
    position: absolute;
    top:30px;
    right:15px;
    font-size: 20px;
    font-weight: 600;
}