*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}

body{
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    background-color: tomato;
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 20px;
    border:2px solid black;
    background-color: beige;
}

button{
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    border:0;
    padding: 10px;
    background-color: beige;
}

button:hover{
    background-color: black;
    color: beige;
    cursor: pointer;
}

.navbar{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
}

li{
    list-style: none;
}

.navbar li a{
    display: inline-block;
    text-decoration:none;
    color: black;
    font-size: 20px;
    padding:12px;
}

.navbar li a:hover{
    background-color: black;
    color: beige;
}

.navbar.expanded {
    width: auto;
    height: auto;
    opacity: 1;
    transition: all 0.5s ease-in;
}  