*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}

body{
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center;
    background-color: beige;
}

ul{
    display: flex;
    justify-content:center;
    align-items:center;
    padding:10px;
    margin-right: 20px;
    border:2px solid black;
    border-radius:5px;
}

ul li a{
    text-decoration:none;
    color: black;
    font-size: 20px;
    padding: 10px;
}

li{
    list-style: none;
}