*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --main-color: #dc143c;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.85);
}

p{
    z-index: 10;
    font-size: 33px;
    font-weight: 800;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    background: var(--main-color);
    text-align: center;
}

/* white heart */

.white-heart{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    position: relative;
    top: 0;
    left:0;
    background: #fff;
    transform: rotate(45deg);
}

.white-heart::before,
.white-heart::after {
    content: "";
    width:100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    background: #fff;
}

.white-heart::before{
    top:0;
    left:-50px;
}

.white-heart::after{
    top:-50px;
    right:0;
}

/* red heart */

.red-heart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    position: absolute;
    transform: rotate(45deg);
    background: var(--main-color);
    visibility: hidden;
}

.red-heart::before,
.red-heart::after {
    content: "";
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
    background: var(--main-color);
}

.red-heart::before {
    top: 0;
    left: -50px;
}

.red-heart::after {
    top:-50px;
    right: 0;
}

.red-heart.animation{
    animation: pop 0.9s linear;
    visibility: visible;
}

.red-heart.fill-color {
    background: var(--main-color);
}

@keyframes pop {
    100%{
        transform: scale(2) rotate(45deg);
        opacity: 0;
    }
}